table {
	border-collapse: collapse;
}

body	{
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;

}

td {
	border: 1px solid black;
	padding-right: 8px;
	padding-left: 8px;
}

div	{
	font-size: 70%;
}