.search-bknd {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-left: 0.5em;
    background-color: rgb(207, 195, 167);
    display: flex;
    justify-content: right;
}

#search-button {
    background-color: lightgrey;
}
