body {
	font-family: calibri;
	background-color: rgb(22, 22, 22);
}

h5, h4, h3, h2, h1, p {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

section {
	margin-top: 2rem;
}

.container {
	background-color: pink;
	margin-top: 3rem;
}

.boxheader {
	border: 1px solid black;
	background-color: lightgray;
}

.center {
	display: flex;
	justify-content: center;
}

.bold {
	font-weight: bold;
}

.orderdate {
	border: 1px solid black;
}

#orderheader {
	display: flex;
	justify-content: space-between;
}

.table {
	border-collapse: collapse;
	width: 100%;
}

.table, td {
	border: 1px solid black;
}

.tablehalf {
	column-width: 500px;
}

#checkboxes {
	display: flex;
	justify-content: space-between;
	width: 75%;
}

.box {
	background-color: lightblue;
	display: inline-flex;

}

.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid black;
	margin-right: .5rem;
}

.shiptotable, .shiptotable tr td {
	border: none;
}

.smtablehalf {
	column-width: 200px;
}