body	{
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
table {
	border-collapse: collapse;
}
td {
	border: 1px solid black;
	padding-right: 15px;
	padding-left: 15px;
}
.mouser {
	color:blue;
}