html {
	font-size: .9rem;
}

.listwrapper {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: lightcoral;
}

@media print {
	html {
		font-size: .72rem;
	}

	#notebox {
		display: none;
	}
}
