body	{
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background-color: #001f38;
	color: #919191;
}

.topnav {
	display: flex;
	max-height: 32px;
	justify-content: start;
}

.navimage {
	max-height: 32px;
}

a {
	text-decoration: none;
	color: #0079E5;
}

a:hover {
	text-decoration: underline;
}

h3 {
	/* color: #2b2b2b; */
	color: #6BB7FF;
	text-decoration: underline;
	margin-block-end: 0em;
	margin-block-start:.25em;
}

ul {
	margin-block-start: .25em;
}

.wrapper {
	max-height: 700px;
	display: inline-grid;
	grid-auto-flow:column;
}

#col1, #col2, #col3 {
	width: 275px;
	max-height: inherit;
	padding:10px;
}

.colborder {
	height: inherit;
	width: 2px;
	/*background:linear-gradient(#6d6d6d,#D6EFFF);*/
	background:linear-gradient(#0065bf,#e0e0e0);
	/*background:linear-gradient(#6d6d6d,#e0e0e0);*/
	border-radius: 200px/50%;
}

#col1lborder {
	grid-row:1;
	grid-column:1;
}

#col1 {
	grid-row:1;
	grid-column:2;
}

#col2lborder {
	grid-row: 1;
	grid-column: 3;
}

#col2 {
	grid-row:1;
	grid-column:4;
}

#col3lborder {
	grid-row: 1;
	grid-column: 5;
}

#col3 {
	grid-row:1;
	grid-column:6;
}

#col3rborder {
	grid-row: 1;
	grid-column: 7;
}

aside {
	font-size: 70%;
	color: grey;
}