table {
  border-collapse: collapse;
}

body {
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

td {
  border: 1px solid black;
  padding-right: 8px;
  padding-left: 8px;
}

input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  height: 2.25rem;
}

input::placeholder {
  color: black;
}

input:hover {
  /* background-color: #ddd; */
  background-color: rgba(255, 255, 0, 0.562);
  cursor: pointer;
}

.topbanner {
  width: 100%;
  background-color: rgba(255, 255, 0, 0.562);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
}

.smfont {
  font-size: 70%;
}

.smtable {
  display: inline-table;
  margin-left: 15px;
  margin-right: 15px;
}

.currency {
  text-align: right;
}

.ton {
  /* background-color: #FFC794; */
  background-color: rgba(255, 255, 0, 0.562);
}

aside {
  font-size: 70%;
  color: grey;
}

@media print {
  .topbanner {
    display: none;
  }
}
