aside {
	font-size: 70%;
	color: grey;
}

.centeredcontainer {
	margin-top: 20px;
	margin-bottom: 40px;
	font-weight: bold;
}

.gbbox {
	width: 50px;
	height: 50px;
}

table {
	width: 900px;
}
